[user]
	name = CBroz1
	email = CBrozdowski@yahoo.com
[init]
	defaultBranch = me
[core]
	editor = "nvim"
[github]
	user = cbroz1
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /home/dgramling/Src/dpg_nwb_analysis
	directory = /home/jguidera/Src/nwb_custom_analysis
	directory = /home/shijiegu/Documents/spyglass
	directory = /home/jguidera/Src/jguides_2024
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
